@import "~@scssconf/vars.scss";

$height: 60px;

:host {
    flex-basis: $height;
}

.header {
    height: $height;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 20px;

    background-color: $color-primary--base;

    &__logo {
        height: 40px;

        path {
            fill: #fff;
        }
    }
}