@import "~@scssconf/vars.scss";
@import "~@scssconf/mixins.scss";

$height: 60px;

:host {
    flex-basis: $height;
}

.header {
    @include flex();

    height: $height;

    padding: 0 20px;

    background-color: $color-primary--base;

    &__logo {
        height: 40px;

        path {
            fill: #fff;
        }
    }
}