@import "~@scssconf/vars.scss";

$height: 60px;

:host {
    flex-basis: $height;
}

.header {
    height: $height;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: $color-primary--base;
}