@import "~@scssconf/vars.scss";
@import "~@scssconf/mixins.scss";

:host {
    flex: auto;
}

.game-details {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}