@import "~@scssconf/mixins.scss";

:host {
    @include media-q (xs) {
        margin-bottom: 20px;
    }
}

.game-filter {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    
    &__label {
        margin: 0 10px;
        padding: 10px;
        border: 1px solid $color-primary--base;
        border-radius: 3px;

        font-size: rem(18px);

        color: #fff;
        background-color: $color-primary--base;

        transition: color .4s ease,
            background-color .4s ease;

        cursor: pointer;

        &:hover {
            color: $color-primary--base;
            background-color: #fff;
        }
    }

    &__input {
        @include visually-hidden();

        &:checked {
            & + .game-filter__label {
                color: $color-primary--base;
                background-color: #fff;
                text-decoration: underline;
            }
        }
    }
}
