
/* FONTS
=============================================*/

$font-size--base: 16px;
$font-family--base: 'Work Sans', sans-serif;
$font-weight--base: 500;


/* MODULES COLORS
=============================================*/

$color-primary--base: #4D3778;


/* SCREEN SIZES
=============================================*/

$viewports: (
    xs: 480px,
    sm: 768px,
    md: 1024px
);